<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <%= csrf_meta_tags%>
    <%= csp_meta_tag%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> <%# I saw there was a way to include the css and js within this erb buit I couldn't figure it out so I just did extra requests%>
  </head>
  <body>
    <div style="text-align: center; margin: 50px;"><h1>Schedule</h1></div>
    <div class="schedule">
        <div class="time-labels" style="width: 70px">
            <div class="tHeader">Time</div>
            <% @times.each do |time| %>
              <div class="time-label"><%=time%></div> 
            <% end %>
        </div>

        <%# Creation of Technician Columns%>
        <% @technicians.each do |tech| %>
          <div class="technician-column">
            <div class="tHeader"><%=tech.name%></div>
            <% orders = @orders.select { |ord| ord.technician_id == tech.tech_id }%>
            <% tuples = orders_to_tuples(orders) %>

            <%# Creation Time slots (in background - these are just here to show horizontal lines each hour) %> 
            <% @times.each do |time| %>
              <div class="time-slot" data-time="<%=time%>"></div>
            <% end %>

            <%# Creation of work orders %>
            <% tuples.each do |start, duration, lID, price| %>
              <div class="work-order" style="top: <%=time_to_pxOffset(start)*2+32%>px; height: <%=duration*2%>px;"> <%#All heights are *2 since a time slot is 120px tall (2*60 minutes)%>
                <% loc = @locations.find { |loc| loc.loc_id == lID }%>
                <div>Location: <%= loc.name%></div>
                <div>City: <%= loc.city %></div>
                <div>Start: <%=start.strftime("%H:%M") %></div>
                <div>Price: <%=price%></div>
              </div>
            <% end %>

            <%# Creation of between divs %>
            <% betweens = calculate_gaps(tuples) %> <%# Betweens are divs used to capture clicks inbetween the orders, for requirement 4 popup%>
            <% betweens.each do |start, duration| %>
              <div 
                class="work-gap" 
                style="top: <%=time_to_pxOffset(start)*2+32%>px; height: <%=duration*2%>px;"
                <%start_string = start.strftime("%H:%M")%>
                <%e = get_end_time(start,duration).strftime("%H:%M")%>
                data-start=<%=start_string%>
                data-end=<%=e%>
                title="<%=start_string%> - <%=e%>"
              ></div>
            <% end %>
            
 
          </div>
        <% end %>
    </div>
    <script src="javascripts/main.js"></script>

  </body>
</html>